language: python
python:
- '3.6'
- '3.5'
- '3.4'
- '2.7'
env:
- LXML=true
- LXML=false
before_install:
- pip install codecov
install:
- pip install -r requirements.txt
- if $LXML == true; then pip install lxml; fi
script:
- coverage run --source=fastkml setup.py test
- cd docs && make html
after_success:
- codecov
- coveralls
notifications:
  email:
  - christian.ledermann@gmail.com
  - IanLee1521@gmail.com
deploy:
  provider: pypi
  user: Christian.Ledermann
  password:
    secure: MhOkMil0/EsZRS1FB6xYiFfjbFjafYuBE/bKMnsHZqtoVU/CH0UCfjIJpDyRzYeTliub84r7hwHzTwnDzxijWIdy8T4tcuVja0Iu8ItGc4VopYKyUjUgxUT9PWk0in5C/gtwEQb2VYOhrQA9F3XRZ6RfHvUAJJYhdV2GM6ehm+0=
  on:
    tags: true
    repo: cleder/fastkml
