include *.rst
recursive-include docs *.txt
recursive-exclude *.pyc *.pyo
include docs LICENSE.GPL
include *.txt
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.py
recursive-include schema *.xsd
