[tool.isort]
line_length = 88
force_single_line = true

[tool.flake8]
max_line_length = 89

[tool.check-manifest]
ignore = [".*", "mutmut_config.py", "test-requirements.txt", "tox.ini", "examples/*"]

[tool.pyright]
include = ["fastkml"]
exclude = ["**/node_modules",
    "**/__pycache__",
    ".pytype",
    ".pyre",
]

[tool.mypy]
disallow_any_generics = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
ignore_errors = false
ignore_missing_imports = true
implicit_reexport = false
strict_optional = true
strict_equality = true
no_implicit_optional = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unreachable = true
warn_no_return = true
warn_return_any = true
show_error_codes = true

# mypy per-module options:

[[tool.mypy.overrides]]
module = [
    "fastkml.kml", "fastkml.views", "fastkml.times",
    "fastkml.tests.oldunit_test", "fastkml.tests.config_test"
]
ignore_errors = true
