# Base package requirements
pygeoif
python-dateutil

# Testing Requirements
pytest
pep8
coveralls
tox>=1.8

# Documentation Requirements
Sphinx
sphinx-rtd-theme
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
